<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="gov.epa.festc" version="1.0" class="gov.epa.festc.core.FestcPlugin">
	<requires>
		<import plugin-id="saf.core.runtime" plugin-version="1.0"/>
		<import plugin-id="saf.core.ui" plugin-version="1.0"/>
	</requires>
	<runtime>
		<library id="testrun" path="core.jar" type="code">
			<export prefix="*"/>
		</library>
		<library type="resources" path="icons/" id="icons"/>

		<library id="velocity" path="lib/velocity-1.7.jar" type="code">
			<export prefix="*" />
		</library>

		<library id="reference" path="lib/reference.jar" type="code">
			<export prefix="*" />
		</library>

		<library id="swingx" path="./lib/swingx-all-1.6.5.jar" type="code">
			<export prefix="*" />
		</library>

		<library id="log4j-1.2" path="./lib/log4j-1.2-api-2.0-rc1.jar"
			type="code">
			<export prefix="*" />
		</library>

		<library id="log4j-api" path="./lib/log4j-api-2.0-rc1.jar"
			type="code">
			<export prefix="*" />
		</library>

		<library id="log4j-core" path="./lib/log4j-core-2.0-rc1.jar"
			type="code">
			<export prefix="*" />
		</library>

		<library id="xstream" path="./lib/xstream-1.4.7.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>

	<!-- festc extensions -->
	<extension plugin-id="saf.core.runtime" point-id="IApplicationRunnable" id="FestcRunnable">
		<parameter id="class" value="gov.epa.festc.core.FestcPlugin"/>
		<parameter id="name" value="FEST-C Application"/>
		<parameter id="description" value="FEST-C gui application"/>
	</extension>

	<extension plugin-id="saf.core.ui" point-id="ui.Perspectives" id="gov.epa.festc.core.perspectives">
		<parameter id="perspective">
			<parameter id="perspectiveID" value="gov.epa.festc.core.perspective_one"/>
			<parameter id="name" value="Main"/>
			<parameter id="viewGroup">
			    <parameter id="groupID" value="gov.epa.festc.core.main_group"/>
			</parameter>

			<parameter id="viewGroup">
				<parameter id="groupID" value="gov.epa.festc.core.tools_group"/>
				<parameter id="location" value="west"/>
				<parameter id="parent" value="gov.epa.festc.core.main_group"/>
				<parameter id="fillPercentage" value="0.35"/>
			</parameter>
		</parameter>
	</extension>


	<extension plugin-id="saf.core.ui" point-id="ui.Menus" id="gov.epa.festc.core.menus">
		<parameter id="menuSpec">
			<parameter id="menuID" value="file"/>
			<parameter id="label" value="&amp;File"/>
		</parameter>

		<parameter id="menuSpec">
			<parameter id="menuID" value="help"/>
			<parameter id="label" value="&amp;Help"/>
		</parameter>
	</extension>

	<extension plugin-id="saf.core.ui" point-id="ui.Actions" id="festc.actions">

		<parameter id="actionSpec">
			<parameter id="actionID" value="gov.epa.festc.core.action.OpenAction"/>
			<parameter id="class" value="gov.epa.festc.core.action.OpenAction"/>
			<parameter id="label" value="&amp;Open Scenario"/>
			<parameter id="icon" value="project_open.png"/>
			<parameter id="menuID" value="file"/>
			<parameter id="groupID" value="file"/>
			<parameter id="tooltip" value="Open Scenario"/>
		</parameter>
		
		<parameter id="actionSpec">
			<parameter id="actionID" value="gov.epa.festc.core.action.CreateAction"/>
			<parameter id="class" value="gov.epa.festc.core.action.CreateAction"/>
			<parameter id="label" value="&amp;New Scenario"/>
			<parameter id="icon" value="plus.png"/>
			<parameter id="menuID" value="file"/>
			<parameter id="groupID" value="file"/>
			<parameter id="tooltip" value="New Scenario"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="gov.epa.festc.core.action.CopyAction"/>
			<parameter id="class" value="gov.epa.festc.core.action.CopyAction"/>
			<parameter id="label" value="&amp;Copy Scenario"/>
			<parameter id="icon" value="project_copy.png"/>
			<parameter id="menuID" value="file"/>
			<parameter id="groupID" value="file"/>
			<parameter id="tooltip" value="Copy Scenario"/>
		</parameter>
		
		<parameter id="actionSpec">
			<parameter id="actionID" value="gov.epa.festc.core.action.SaveAction"/>
			<parameter id="class" value="gov.epa.festc.core.action.SaveAction"/>
			<parameter id="label" value="&amp;Save Scenario"/>
			<parameter id="icon" value="filesave.png"/>
			<parameter id="menuID" value="file"/>
			<parameter id="groupID" value="file"/>
			<parameter id="tooltip" value="Save Scenario"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="gov.epa.festc.core.action.DeleteAction"/>
			<parameter id="class" value="gov.epa.festc.core.action.DeleteAction"/>
			<parameter id="label" value="&amp;Delete Scenario"/>
			<parameter id="icon" value="delete.png"/>
			<parameter id="menuID" value="file"/>
			<parameter id="groupID" value="file"/>
			<parameter id="tooltip" value="Delete Scenario"/>
		</parameter>
		
		<parameter id="separator">
			<parameter id="menuID" value="file"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="saf.core.ui.actions.ExitAction"/>
			<parameter id="label" value="&amp;Exit"/>
			<parameter id="menuID" value="file"/>
			<parameter id="class" value="gov.epa.festc.core.action.ExitAction"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="gov.epa.festc.core.action.Help"/>
			<parameter id="label" value="FEST-C User Guide"/>
			<parameter id="class" value="gov.epa.festc.core.action.Help"/>
			<parameter id="menuID" value="help"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="gov.epa.festc.core.action.About"/>
			<parameter id="label" value="&amp;About"/>
			<parameter id="class" value="gov.epa.festc.core.action.About"/>
			<parameter id="menuID" value="help"/>
		</parameter>

	</extension>

	<extension plugin-id="saf.core.ui" point-id="ui.StatusBar" id="bar">
		<parameter id="StatusField">
			<parameter id="name" value="festc.status.one"/>
			<parameter id="fillPercentage" value=".65"/>
		</parameter>

		<parameter id="StatusField">
			<parameter id="name" value="festc.status.two"/>
			<parameter id="fillPercentage" value=".35"/>
		</parameter>
	</extension>
	
</plugin>