# Large Data in Common#
###################
epic/common_data/BaumerSoils
epic/common_data/EPIC_model/dailyNDep_2004
epic/common_data/EPIC_model/dailyNDep_2008
epic/common_data/gisFiles
epic/common_data/statWeath
