# Large Data in Common#
###################
epic/common_data/BaumerSoils
epic/common_data/EPIC_model/dailyNDep_2004
epic/common_data/EPIC_model/dailyNDep_2008
epic/common_data/gisFiles
epic/common_data/statWeath
festc/jre/.*
festc/jre/plugin/.*
festc/jre/lib/security/.*
festc/jre/lib/management/.*
festc/jre/lib/locale/sv/.*
festc/jre/lib/locale/.*
festc/jre/lib/locale/ko/.*
festc/jre/lib/locale/de/.*
festc/jre/lib/ext/.*
festc/jre/bin/.*
festc/jre/lib/.*
festc/jre/lib/amd64/.*
festc/jre/lib/fonts/.*
festc/jre/lib/desktop/.*
festc/jre/lib/jfr/.*
festc/jre/lib/locale/es/.*
festc/jre/lib/images/.*
festc/jre/plugin/desktop/.*
festc/jre/lib/images/cursors/.*
festc/jre/lib/locale/it/.*
festc/jre/lib/images/icons/.*
festc/jre/lib/locale/ja/LC_MESSAGES/.*
festc/jre/lib/locale/*
festc/jre/lib/oblique-fonts/.*
festc/jre/lib/deploy/.*
festc/jre/lib/cmm/.*
epic/util/misc/daily/.*
._*
.~*
